<%- include("../partials/_headerUsuarioG", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <h2 class="text-center mb-4">Mis Datos</h2>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Nombre</h5>
          <p class="card-text"><%= usuario.nombreCompleto %></p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Correo</h5>
          <p class="card-text"><%= usuario.email %></p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Apellidos</h5>
          <p class="card-text"><%= usuario.apellidos %></p>
        </div>
      </div>


      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Teléfono</h5>
          <p class="card-text"><%= usuario.telefono %></p>
        </div>
      </div>

      <% function formatFecha(fecha) {
        const date = new Date(fecha);
        const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
        return date.toLocaleDateString('es-ES', options);
      } %>

      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Fecha de Nacimiento</h5>
          <p class="card-text"><%= formatFecha(usuario.fechaNacimiento) %></p>
        </div>
      </div>


      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Nombre de usuario</h5>
          <p class="card-text"><%= usuario.username %></p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Domicilio</h5>
          <p class="card-text"><%= usuario.domicilio %></p>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <img src="img/mis_datos.jpeg" class="card-img-top" alt="Phone image" />
      </div>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
