<%- include("../partials/_headerUsuarioG", { titulo: titulo }) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Mis Datos</h2>
      <ul>
        <li>Nombre: <%= usuario.nombreCompleto %></li>
        <li>Correo Electrónico: <%= usuario.email %></li>
        <li>Username: <%= usuario.username %></li>
        <!-- Agrega más campos según sea necesario -->
      </ul>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
