<%- include("../partials/_headerUsuarioG", { titulo: titulo }) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Mis Datos</h2>
        
      <div class="form-outline mb-4">
        <label for="form-label">Nombre</label>
        <input value="<%= usuario.nombreCompleto %>" readonly>
      </div>

      <div class="form-outline mb-4">
        <label for="form-label">Correo</label>
        <input value="<%= usuario.email %>" readonly>
      </div>

      <div class="form-outline mb-4">
        <label for="form-label">Apellidos</label>
        <input value="<%= usuario.apellidos %>" readonly>
      </div>
        
      <div class="form-outline mb-4">
        <label for="form-label">Teléfono</label>
        <input value="<%= usuario.telefono %>" readonly>
      </div>

      <% function formatFecha(fecha) {
        const date = new Date(fecha);
        const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
        return date.toLocaleDateString('es-ES', options);
    } %>

      <div class="form-outline mb-4">
        <label for="form-label">Fecha de Nacimiento</label>
        <input value="<%= formatFecha(usuario.fechaNacimiento) %>" readonly>
      </div>

      <div class="form-outline mb-4">
        <label for="form-label">Nombre de usuario</label>
        <input value="<%= usuario.username %>" readonly>
      </div>

      <div class="form-outline mb-4">
        <label for="form-label">Contraseña</label>
        <input value="<%= usuario.password %>" readonly>
      </div>

      <div class="form-outline mb-4">
        <label for="form-label">Domicilio</label>
        <input value="<%= usuario.domicilio %>" readonly>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
