<%- include("../partials/_headerUsuarioG", { titulo: titulo }) %>

<div class="container mt-5 datos">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <% if (citas && citas.length > 0) { %>
        <div id="tableExample" data-list="{&quot;valueNames&quot;:[&quot;fecha&quot;,&quot;descripcion&quot;,&quot;estatus&quot;],&quot;page&quot;:5,&quot;pagination&quot;:true}">
          <div class="table-responsive">
            <table class="table table-sm fs-9 mb-0">
              <thead>
                <tr>
                  <th class="sort border-top border-translucent">ID de cita</th>
                  <th class="sort border-top border-translucent">Motivo</th>
                  <th class="sort border-top border-translucent">Descripción</th>
                  <th class="sort border-top border-translucent">Lugar</th>
                  <th class="sort border-top border-translucent">Fecha programada</th>
                  <th class="sort border-top border-translucent">Estatus</th>
                </tr>
              </thead>
              <tbody class="list">
                <% for(var i = 0; i < citas.length; i++) { %>
                  <tr>
                    <td class="align-middle"><%= citas[i].id %></td>
                    <td class="align-middle"><%= citas[i].motivo %></td>
                    <td class="align-middle"><%= citas[i].descripcion %></td>
                    <td class="align-middle"><%= citas[i].lugar %></td>
                    <td class="align-middle"><%= citas[i].fechaProgramada %></td>
                    <td class="align-middle"><%= citas[i].estatus %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <br>
            <p>*NOTA: por defecto, la fecha programada es: 30/11/1899. Sin embargo, una vez revisada por el personal, ésta será cambiada.</p>
          </div>
        </div>
      <% } else { %>
        <div class="alert alert-info" role="alert">
          No cuenta con citas registradas.
        </div>
      <% } %>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
