<%- include("../partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/updateCita/<%= cita.id %>" method="POST">
          <input
            type="date"
            name="fecha"
            value="<%= cita.fecha %>"
            placeholder="Fecha"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="descripcion"
            value="<%= cita.descripcion%>"
            placeholder="Descripción"
            class="form-control mb-3"
          />
          <button type="submit" class="btn btn-primary">Actualizar datos</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
