<%- include("../partials/_headerAdmin", { titulo: titulo }) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/updateCita/<%= cita.id %>" method="POST">
          <div>
            <label for="form-outline">ID del usuario</label>
            <input
              type="number"
              name="usuario_id"
              value="<%= cita.usuario_id %>"
              readonly
              class="form-control mb-3"
            />
          </div>

          <% function formatFecha(fecha) {
            const date = new Date(fecha);
            const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
            return date.toLocaleDateString('es-ES', options);
        } %>
        
        <div class="form-outline-mb-4">
          <label for="form-outline">Fecha</label>
          <input
            type="text"
            name="fecha"
            value="<%= formatFecha(cita.fecha) %>"
            placeholder="dd/mm/aaaa"
            class="form-control mb-3"
            autofocus
          />
        </div>
        

          <div class="form-outline-mb-4">
            <label for="form-outline">Motivo</label>
            <input
              type="text"
              name="motivo"
              value="<%= cita.motivo %>"
              placeholder="Motivo de la cita"
              class="form-control mb-3"
            />
          </div>

          <div class="form-outline-mb-4">
            <label for="form-outline">Descripción</label>
            <input
              type="text"
              name="descripcion"
              value="<%= cita.descripcion %>"
              placeholder="Detalles de la cita"
              class="form-control mb-3"
            />
          </div>

          <div class="form-outline-mb-4">
            <label for="form-outline">Lugar</label>
            <input
              type="text"
              name="lugar"
              value="<%= cita.lugar %>"
              placeholder="Lugar"
              class="form-control mb-3"
            />
          </div>

          <div class="form-outline-mb-4">
            <label for="form-outline">Estatus (actual: <%= cita.estatus %>)</label>
            <select name="estatus" class="form-control mb-3">
              <option value="Revisado" <%= cita.estatus === 'Revisado' ? 'selected' : '' %>>Revisado</option>
              <option value="Pendiente" <%= cita.estatus === 'Pendiente' ? 'selected' : '' %>>Pendiente</option>
            </select>
          </div>
          
          <br>
          <button type="submit" class="btn btn-primary btn-Act" style="margin: 2px;">Actualizar datos</button>
        
          <button href="/citas" class="btn btn-secondary btn-Act">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
