<%- include("../partials/_headerSupervisor", { titulo: titulo }) %>


<div class="container mt-5 fluid">
  <h1>Actualizar Roles de Usuarios</h1>
  <div class="row">
    <!-- Aquí puedes agregar cualquier elemento necesario, como un botón para generar un PDF o realizar otras acciones -->
  </div>
</div>

<div class="container mt-5 fluid datos">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="tableExample">
          <div class="table-responsive">
            <table class="table table-sm fs-9 mb-0">
              <thead>
                <tr>
                  <th class="sort border-top border-translucent">ID</th>
                  <th class="sort border-top border-translucent">Nombre Completo</th>
                  <th class="sort border-top border-translucent">Username</th>
                  <th class="sort border-top border-translucent">Email</th>
                  <th class="sort border-top border-translucent">Teléfono</th>
                  <th class="sort border-top border-translucent">Rol</th>
                </tr>
              </thead>
              <tbody class="list">
                <% if (usuarios && usuarios.length > 0) { %> 
                  <% for(var i = 0; i < usuarios.length; i++) { %>
                    <tr>
                      <td class="align-middle"><%= usuarios[i].id %></td>
                      <td class="align-middle"><%= usuarios[i].nombreCompleto %> <%= usuarios[i].apellidos %></td>
                      <td class="align-middle"><%= usuarios[i].username %></td>
                      <td class="align-middle"><%= usuarios[i].email %></td>
                      <td class="align-middle"><%= usuarios[i].telefono %></td>
                      <td class="align-middle">
                        <form id="updateRoleForm<%= usuarios[i].id %>" class="role-form" action="/updateUserRole/<%= usuarios[i].id %>" method="POST">
                          <select name="role" class="form-select role-select" data-user-id="<%= usuarios[i].id %>">
                            <option value="Administrador" <%= usuarios[i].role === 'Administrador' ? 'selected' : '' %>>Administrador</option>
                            <option value="Supervisor" <%= usuarios[i].role === 'Supervisor' ? 'selected' : '' %>>Supervisor</option>
                            <option value="Usuario general" <%= usuarios[i].role === 'Usuario general' ? 'selected' : '' %>>Usuario General</option>
                          </select>
                        </form>
                      </td>
                    </tr>
                  <% } %> 
                <% } else { %>
                  <tr>
                    <td colspan="6"><%= message %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Event listener para enviar el formulario al cambiar el rol
  const roleForms = document.querySelectorAll('.role-form');

  roleForms.forEach(form => {
    form.addEventListener('change', (event) => {
      event.preventDefault();
      const userId = event.target.dataset.userId;
      const formData = new FormData(form);
      fetch(`/updateUserRole/${userId}`, {
        method: 'POST',
        body: formData
      })
      .then(response => {
        if (response.ok) {
          console.log('Rol actualizado correctamente');
          // Aquí podrías mostrar un mensaje de éxito o actualizar la vista según sea necesario
        } else {
          console.error('Error al actualizar el rol del usuario');
          // Aquí podrías mostrar un mensaje de error o manejar el error de alguna otra forma
        }
      })
      .catch(error => {
        console.error('Error al procesar la solicitud:', error);
      });
    });
  });
</script>

<%- include("../partials/_footer") %>

