<%- include("../partials/_headerSupervisor") %>

<div class="container mt-5 fluid">
  <h1>Modificar Rol de Usuarios</h1>
</div>

<div class="container mt-5 fluid datos">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Usuarios</h2>
      <table class="table table-sm fs-9 mb-0">
        <!-- Encabezado de la tabla -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Rol</th>
          </tr>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
          <% usuarios.forEach(usuario => { %>
          <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.username %></td>
            <td><%= usuario.email %></td>
            <td><%= usuario.telefono %></td>
            <td>
              <form action="/updateUsuarioRole/<%= usuario.id %>" method="POST">
                <select name="role" class="form-select" onchange="this.form.submit()">
                  <option value="Administrador" <%= usuario.role === 'Administrador' ? 'selected' : '' %>>Administrador</option>
                  <option value="Supervisor" <%= usuario.role === 'Supervisor' ? 'selected' : '' %>>Supervisor</option>
                  <option value="Usuario general" <%= usuario.role === 'Usuario general' ? 'selected' : '' %>>Usuario general</option>
                </select>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h2>Administradores</h2>
      <!-- Repite el mismo código de la tabla para los administradores -->
      <!-- Cambia 'usuarios' por 'administradores' -->
      <!-- Utiliza 'administradores' en lugar de 'usuarios' en el forEach -->
    </div>
  </div>
</div>

<%- include("../partials/_footer") %>
